{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/cadastroStyle.css' %}">
  <title>Cadastro</title>
</head>
<body>
  
  <div class="out-container">
    <div class="container">
        <header>
          <a href="{% url 'cursos:inicio' %}"><img src="{% static 'images/logo.svg' %}" alt="Genus Logo"></a>
            <a href="{% url 'registro:login' %}"><button>LOG IN</button></a>
        </header>
    </div>
  </div>

  <div class="content-box">
    <div class="cadastro">
      <h2>Esqueci minha senha</h2>
      <p></p>
      <p>Preencha o campo abaixo e enviaremos um email de recuperação de senha para você</p>
      {% block content %}
  

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar email</button>
  </form>
{% endblock %}
    </div>

  </div>
  
  <div class="footer">
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
  </div>
</body>
</html>


