*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 246, 245);
    background-size: cover;
    font-family: 'Roboto', sans-serif;

}
button{
    cursor: pointer;
    padding: 0.75em 2em;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 167, 85);
}
button:hover{
    background-color: rgb(255, 167, 85);
}
h1{
    font-size: 50px;
}

/*Header*/
.out-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.out-header h2{
    padding: 5px;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end ;
}
.out-header i{
    padding: 5px;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end ;

}
.out-header #perfil{
    padding: 10px;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end ;

}
.out-header i:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color:rgb(255, 167, 85);

}

.out-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6em;
    width: 100%;
    background-color: #2F80ED;
}
.out-container img{
    position: relative;
    height: 3.25em;
}

.overlay{
    visibility: visible;
    height: 100%;
    bottom: 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #2F80ED;
}
.overlay ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}
.overlay ul li a{
    color: rgb(84, 6, 158);
    font-weight: bold;
    display: block;
    margin: 5px;
    padding: 7px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 167, 85);
    text-decoration: none;
}

/*Content*/
.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.back-button{
    margin-right: auto;
    margin-left: 2em;
    color: #FFF;
    background-color: rgb(187, 107, 217);
    font-size: 1.25rem;
    padding: 0.75em 1em;
    border-radius: 20px;
    text-decoration: none;
}
.back-button:hover{
    background-color: rgb(101, 37, 124);
}
.back-button > i{
    margin-right: 0.5em;
}
.muralimg{
    border-radius: 10px;
    width: 80%;
    height: 200px;
    background-image:url(https://www.unioncancun.mx/sites/default/files/styles/galeria/public/curso%20gratis%20academica%20integral%20matematicas.jpg?it) ;
    background-position: center;
    background-size: cover;
    margin-bottom: 1em;

}
.muralimg h1{
    color: white;
    padding: 10px;
}

.content-container{
    margin-right: 10%;
    width: 90%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-end;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #ebdfdf;
    padding: 20px;
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1em;
    border: 1px solid #b6b5b5 ;
    box-shadow: 5px 5px 5px rgb(34, 34, 34); 
}
.card-header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}
.card-header a{
        color: black;
        text-decoration: none;
}
.card-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1em;
}
.card-content p{
   font-size: larger;
}
.card textarea{
    resize: none;
    font-size: 20px;
    opacity: 0.7;
    width: 100%;
    height: auto;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: 2s ease;
}
.card form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.groupbtn{
    height: auto;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    transition: 1s ease;
}
.info{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.infoUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info span{
   margin-bottom: 5px;
}
/*configCurso.html*/

.lista-alunos{
    list-style: none;
    margin-bottom: 1.5em;
}
.lista-alunos li{
    font-size: 1.25rem;
    margin-top: 1em;
}
.lista-alunos a{
    text-decoration: none;
    cursor: unset;
    color: #000;
}
.lista-alunos a:visited{
    color: #000;
}
.alunos-config form{
    margin-bottom: 1.5em;
}
.alunos-config form > input{
    font-size: 1rem;
    margin-top: 2em;
    background-color: red;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    padding: 00.75em 2em;
    border-radius: 20px;
    border: none;
}
.alunos-config > a{
    font-size: 1rem;
    margin-top: 2em;
    background-color: red;
    color: #FFF;
    text-decoration: none;

    padding: 00.75em 2em;
    border-radius: 20px;
}
.back-button{
    margin-right: auto;
    margin-left: 2em;
    color: #FFF;
    background-color: rgb(187, 107, 217);
    font-size: 1.25rem;
    padding: 0.75em 1em;
    border-radius: 20px;
    text-decoration: none;
}
.back-button:hover{
    background-color: rgb(101, 37, 124);
}
.back-button > i{
    margin-right: 0.5em;
}
/*------------------------------*/
/*reponsive*/
@media (max-width: 768px){
    header{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 80%;
    }
    .out-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .out-header h2{
        opacity: 0;

    }
    .brand-img{
        padding: 20px;
        opacity: 1;
    }

    .out-container img{
        margin-top: 50px;
        height: 20px;
    }
    .out-container{
        min-height: 50px;
        max-height: 50px;
        width: 100%;
    }
    .overlay{
        position: relative;
        bottom: 200%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgba(204, 204, 204, 0);
    }
    .overlay ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    

}

@media only screen and (max-width: 600px){
    header{
        display: flex;
        flex-direction: column;
    }
    .content-container{
        margin-right:0;
        width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 100%;
    }
    .out-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .out-header h2{
        opacity: 0;

    }
    .brand-img{
        opacity: 1;
    }
    .out-container{
        min-height: 50px;
        max-height: 50px;
        width: 100%;
    }
    .overlay{
        visibility: visible;
        bottom: 200%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgba(204, 204, 204, 0);
    }
    .overlay ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .overlay ul li a{
        font-size: 5px;
        height: 20px;
        color: rgb(84, 6, 158);
        font-weight: bold;
        border-radius: 20px;
        border: none;
        background-color: rgb(255, 167, 85);
        text-decoration: none;
    }
    
}

@media only screen and (max-width: 400px){
    .brand-img{
        opacity: 0;
    }
}