*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}
button{
    color: #126ee7;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em 2em;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 167, 85);
}
button a{
    color: #126ee7;
    text-decoration: none;
}
button:hover{
    background-color: rgb(255, 139, 31);
}
/*Content*/
.card{
    display: flex;
    flex-direction: column;
    background-color: #ebdfdf;
    padding: 20px;
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin-left: 28%;
    margin-top: 1em;
    border: 1px solid #b6b5b5 ;
    box-shadow: 5px 5px 5px rgb(34, 34, 34);

}

.card-header{
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-content{
    /* Break Line */
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for WebKit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    padding: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    border-radius: 20px;
    border: 1px solid black;
    background-color: rgb(255, 234, 234);
}

.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Jorge Code*/

nav{
    display: flex;
    flex-direction: column;
    width: min(30%, 20rem);
    height: 100vh;
    margin-right: 2rem;
    /*padding: 1rem 2rem;*/
    background-color: #2F80ED;
    position: fixed;
}
nav img{
    width: 100%;
    padding: 1rem 2rem;
}

nav ul{
    list-style: none;
    padding-left: 0;
}
nav :is(li){
    margin-top: 1em;
    background-color: rgb(255, 167, 85);
    padding: 1rem 2rem;
    display: flex;
}
i{
    font-size: 1.5rem;
    margin-right: 1rem;
    align-self: center;
}
nav a{
    align-self: center;
}
nav a:link,
nav a:visited{
    color: #126ee7;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover,
nav li:hover{
    background-color: rgb(255, 139, 31);
}

.exit-btn{
    margin: auto 2rem 1.5rem 2rem;
    padding: 1em 2em;
    border-radius: 20px;
    border: none;
    background-color: #FFF;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}
.exit-btn:hover{
    background-color: #F3F3F3;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: rgb(255, 167, 85);
    color: white;
    padding: 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
  }
.dropbtn i{
    margin: 0;
}
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    display: none;
    align-self: center;

  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 13rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgb(255, 139, 31);
  }


@media (max-width: 992px){
    .card {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin-left: 34%;
        margin-right: 2%;
    }

@media (max-width: 650px){
    body{
        flex-direction: column;
    }
    nav{
        height: auto;
        position: fixed;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    nav ul,
    nav > button{
        display: none;
    }
    nav img{
        width: 50%;
    }
    .dropdown{
        display: inline-block;
        margin-left: 1rem;
        margin-right: auto;
    }
    .card{
        width: 100%;
        padding: 5em 0 0 0;
        margin: 0%;
    }
    .card-footer{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .card-footer button{
        margin-top: 1em;
    }

}