<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genus</title>
</head>
<body>
    <h1>{{curso.title}}</h1>
    
    <nav>
        <ul>
            <li><a href="{% url 'cursos:curso' curso.slug%}">Mural</a></li>
            <li><a href="{% url 'cursos:modulos' curso.slug %}">Módulos e atividades</a></li>
            <li><a href="">Alunos</a></li>
            {% if dono %}
                <li><a href="">Configurações</a></li>
            {% endif %}
        </ul>
    </nav>
        
    <section>
        <h1>{{atividade_post}}</h1>
        <hr>
        <p>{{atividade_post.description}}</p>
        <hr>
        <h2>Conteúdo:</h2>
        {% if dono %}
            <a href="{% url 'cursos:adicionar-arquivo' curso.slug modulo.id atividade_post.id %}">Adicionar arquivos</a>
            <hr>
        {% else %}
            <a href="{% url 'cursos:adicionar-arquivo' curso.slug modulo.id atividade_post.id %}">Entregar atividade</a>
            <hr>
        {% endif %}
        {% for content in contents_modulo %}
            <ul>
                <li><a href="">{{content.item.render}}</a></li>
            </ul>
        {% endfor %}

        {% if dono %}
            <a href="#">Visualizar todas respostas</a>
        {% else %}
            <h2>Sua resposta:</h2>
            <hr>
            {% with total=business.employees.count %}
            {% endwith %}
            {% for content in respostas %}
                <ul>
                    <li><a href="">{{content.item.render}}</a></li>
                </ul>
            {% endfor %}
        {% endif %}
    </section>
    
    <section>
        <h2>Comentários:</h2>
        {% if not atividade_post.comments.all %}
                Sem Comentários
                <br><a href="{% url 'cursos:adicionar-comentario' curso.slug modulo.id atividade_post.id %}">Adicionar Comentário</a>
        {% else %}
                {% for comment in atividade_post.comments.all %}
                    {{ comment.author }} - {{ comment.created_date}}
                     <br>
                    {{ comment.text }} <br><br>
                {% endfor %}
                <br><a href="{% url 'cursos:adicionar-comentario' curso.slug modulo.id atividade_post.id %}">Adicionar Comentário</a>    
        {% endif %}

    </section>

    <!-- <a href="{% url 'registro:check' %}">check</a> -->

</body>
</html>