<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genus</title>
    <link rel="stylesheet" href="../static/css/atividadestyle.css">
</head>
<body>
    
    <header>
        <div class="out-container">
            <img src="../static/images/logo.svg" alt="Genus Logo">
            <nav class="overlay">
                 <ul>
                    <li><a href="{% url 'cursos:curso' curso.slug%}">Mural</a></li>
                    <li><a href="{% url 'cursos:modulos' curso.slug %}">Módulos e atividades</a></li>
                    <li><a href="">Alunos</a></li>
                    {% if dono %}
                        <li><a href="">Configurações</a></li>
                    {% endif %}
                </ul>
            </nav>
              
        </div>
    </header>
        
    <section class="content-box">
        <h1>{{curso.title}}</h1>
        <div class="atividade">
            <div class="card-atividade">
                <h2>{{atividade_post}}</h2>
                <hr>
                <div class="atividade-content">
                    <p>{{atividade_post.description}}</p>
                    <br>
                    {% for content in contents_modulo %}
                        <ul>
                            <li><a href="">{{content.item.render}}</a></li>
                        </ul>
                        <hr>
                    {% endfor %}
                </div>
                    <div class="owner-answer">
                        <div class="tablet-render">
                                {% if dono %}
                                    <button><a href="{% url 'cursos:adicionar-arquivo' curso.slug modulo.id atividade_post.id %}">Adicionar arquivos</a></button>
                                    <br>
                                {% else %}
                                    <button><a href="{% url 'cursos:adicionar-arquivo' curso.slug modulo.id atividade_post.id %}">Entregar atividade</a></button>
                                {% endif %}
                        </div>
                        {% if dono %}
                           <button><a href="#">Visualizar todas respostas</a></button> 
                        {% else %}
                    </div>
                    
            </div>
            <div class="card-buttons">
                <h2>Conteúdo:</h2>
                <br>
                {% if dono %}
                   <button><a href="{% url 'cursos:adicionar-arquivo' curso.slug modulo.id atividade_post.id %}">Adicionar arquivos</a></button>
                   <br>
                {% else %}
                    <button><a href="{% url 'cursos:adicionar-arquivo' curso.slug modulo.id atividade_post.id %}">Entregar atividade</a></button>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="answer">
            <h2>Sua resposta:</h2>
            <br>
            {% with total=business.employees.count %}
            {% endwith %}
            {% for content in respostas %}
                <ul>
                    <li><a href="">{{content.item.render}}</a></li>
                    <hr>
                </ul>
            {% endfor %}

        </div>
    </section>
    <div class="container-comentarios">
        <h1>Comentários:</h1>

        <div class="comentarios">
            <div>
    
                {% if not atividade_post.comments.all %}
                        <h2>Sem Comentários</h2>
                        <div class="buttons-comentarios">
                            <button> <a href="{% url 'cursos:adicionar-comentario' curso.slug modulo.id atividade_post.id %}">Adicionar Comentário</a></button>
                        </div>
                {% else %}
                        {% for comment in atividade_post.comments.all %}
                            <div class="infoUser">
                                <h2>{{ comment.author }}</h2> 
                                <p>{{ comment.created_date}}</p>
                            </div>
                            <div class="comment-text">
                                <p>{{ comment.text }}</p>
                                <hr>
                            </div>
                        {% endfor %}
                    <div class="buttons-comentarios">
                        <button><a href="{% url 'cursos:adicionar-comentario' curso.slug modulo.id atividade_post.id %}">Adicionar Comentário</a></button>
                    </div>      
                {% endif %}
                
            </div>
    
        </div>
    </div>

    <!-- <a href="{% url 'registro:check' %}">check</a> -->

</body>
</html>