{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/muralcurso.css' %}">
    <title>Document</title>
    <!-- Imports -->
    <script src="https://kit.fontawesome.com/168c8af039.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="out-container">
            <div class="out-header">
                <div class="brand-img">
                    <img src="{% static 'images/logo.svg' %}" alt="Genus Logo">
                </div>
                <h2>{{curso.title}}</h2>
                
                <h2><i id="perfil" class="far fa-user fa-lg"><a href="#"> </a></i></h2>

            </div>
            <nav class="overlay">
                 <ul>
                    <li><a href="{% url 'cursos:curso' curso.slug%}">Mural</a></li>
                    <li><a href="{% url 'cursos:modulos' curso.slug %}">Módulos e atividades</a></li>
                    <li><a href="{% url 'cursos:exibir-alunos' curso.slug %}">Alunos</a></li>
                    <li><a href="{% url 'cursos:config_curso' curso.slug %}">Configurações</a></li>
                </ul>
            </nav>

        </div>

    </header>
    <div class="container">
        <!-- <div>
           

            <h1>{{curso.title}}</h1>
            <h2>Alunos</h2>
             <ul>
            <form method="POST" action="">
             {% for aluno in alunos %}
            <input type="checkbox" name="aluno" value="{{aluno}}">
            <a href="#">{{aluno}}</a><br/>
            {% endfor %}
            
            {% csrf_token %}
            <input type="submit" name="delete" value="Deletar usuários selecionados">
            </form>
                            
            <a href="{% url 'cursos:deletar_curso' curso.slug %}">Deletar curso</a>
            </ul>
        </div> -->
        <div class="alunos-config">
            <h1>{{curso.title}}</h1>
            <h2>Alunos</h2>
            <form method="POST" action="">

                <ul class="lista-alunos">
                    {% for aluno in alunos %}
                    <li>
                        <input type="checkbox" name="aluno" value="{{aluno}}">
                        <a href="#">{{aluno}}</a><br/>
                    </li>
                    {% endfor %}
                    {% csrf_token %}
                </ul>
                <input type="submit" name="delete" value="Deletar usuários selecionados">
            </form>
                               
            <a href="{% url 'cursos:deletar_curso' curso.slug %}">Deletar curso</a>
        </div>
    </div>
    
        
</body>
</html>