
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/createCourseStyle.css' %}">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/168c8af039.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <img src="../../static/images/logo.svg" alt="Genus Logo">
    <ul>
        <a href="#"><li><i class="far fa-user-circle"></i>Perfil</li></a> 
        <a href=""><li><i class="fas fa-cog"></i> Configurações</li></a>
    </ul>
    <button class="exit-btn">SAIR</button>
    <div class="dropdown">
        <button class="dropbtn"><i class="fas fa-bars"></i></button>
        <div class="dropdown-content">
            <a href="#"><i class="far fa-user-circle"></i>Perfil</a>
            <a href="#"><i class="fas fa-cog"></i>Configurações</a>
            <a href="#"><i class="fas fa-sign-out-alt"></i>Sair</a>
        </div>
    </div>
    
</nav>
<div class="content">
    <header>
        <h1>Criar curso</h1>
    </header>
    <section>
      {% block content %}
      <h2>Criar curso</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Criar</button>
      </form>
      {% endblock %}
    </section>
    
</div>
</body>
</html>

