{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/muralcurso.css' %}">
    <title>Genus</title>
    <!-- Imports -->
    <script src="https://kit.fontawesome.com/168c8af039.js" crossorigin="anonymous"></script>

</head>
<body>

    <!-- Scripts-->
    <script>
        function messageText(){
            document.getElementById('message').style.height="150px";
            document.getElementById('group1').style.opacity="1";
            return 
        }

        function cancelMessage(){
            document.getElementById('message').style.height="auto";
            document.getElementById('group1').style.opacity="0";
            return
        }
    </script>


    <header>
        <div class="out-container">
            <div class="out-header">
                <div class="brand-img">
                    <a href="{% url 'cursos:inicio' %}"><img src="{% static 'images/logo.svg' %}" alt="Genus Logo"></a>
                </div>
                <h2>{{curso.title}}</h2>
            </div>
            <nav class="overlay">
                 <ul>
                    <li><a href="{% url 'cursos:curso' curso.slug%}">Mural</a></li>
                    <li><a href="{% url 'cursos:modulos' curso.slug %}">Módulos e atividades</a></li>
                    <li><a href="{% url 'cursos:exibir-alunos' curso.slug %}">Alunos</a></li>
                    {% if dono %}
                        <li><a href="{% url 'cursos:config_curso' curso.slug %}">Configurações</a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>

    </header>
  
    <div class="container">
        <div class="muralimg">
            <h1>{{curso.title}}</h1>
        </div>
        <div class="content-container">
            <div class="card">
                {% block content %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}               
                    {{ form.as_p }}    
                    <button type="submit" onclick="adicionar_mensagem_mural()">Postar</button>
                </form>
                {% endblock %}  
                    
               </form>
            </div>
            {% for mensagem in curso.mensagens.all %}
            <div class="card">
                <div class="card-header">
                    <h1><i class="far fa-user fa-sm"></i></h1>
                    <div class="info">
                        <div class="infoUser">
                            <span><b>{{ mensagem.author }}</b></span>
                            <span><b><i>{{ mensagem.created_date }}</i> </b></span>
                        </div>
                        <a href="#"><i class="fas fa-ellipsis-v fa-lg"></i></a>
                    </div>
                </div>
                <div class="card-content">
                    <p>{{ mensagem.text }}</p>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>

<body>

</body>
</html>