<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genus</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="out-container">
        <div class="container">
            <header>
                <img src="{% static 'images/logo.svg' %}" alt="Genus Logo">
                <a href="{% url 'registro:login' %}"><button>LOGIN</button></a>
            </header>
    </div>
    
    </div>
    <div class="content-box">
        <div class="text">
            <h1>"Tudo nosso, nada deles"
                <p>Igor Kannario</p> 
            </h1>
        </div>
        <div class="sign-up">
            <h1>Cadastre-se</h1>
            <p>Clique no botão abaixo e cadastre-se agora mesmo!</p>
            <a class="signup-link" href="{% url 'registro:cadastro' %}">Iniciar cadastro</a>
        </div>
        
    </div>
    <a href='https://br.freepik.com/vetores/livro'>Livro vetor criado por katemangostar - br.freepik.com</a>
</body>
</html>