<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylemodulo.css">
    <title>Genus</title>
</head>
<body>
    <header>
        <div class="out-container">
            <img src="../static/images/Group 1.svg" alt="Genus Logo">
            <nav class="overlay">
                 <ul>
                    <li><a href="{% url 'cursos:curso' curso.slug%}">Mural</a></li>
                    <li><a href="{% url 'cursos:modulos' curso.slug %}">Módulos e atividades</a></li>
                    <li><a href="">Alunos</a></li>
                    {% if dono %}
                        <li><a href="">Configurações</a></li>
                    {% endif %}
                </ul>
            </nav>
              
        </div>

    </header>

    <div class="content-box">

        <h1>{{curso.title}}</h1>

        <section class="modulo">
            
            <div class="moduloheader">
                
                     <h2>{{modulo.title}}</h2>
        
                    <div>
                        {% if dono %}
                            <div class="dropdown">
                                <button class="dropbtn">Adicionar conteúdo</button>
                                <div class="dropdown-content">
                                    <a href="{% url 'cursos:criar-atividade' curso.slug modulo.id %}">Atividade</a>
                                    <a href="#">Post</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
          
            </div>
            
            <div class="content-container">
                
                <h2>Descrição do Modulo</h2>

                <p>{{modulo.description}}</p>

                <p>ashdbashdbahsbdhabsdhabsdbhdashdbahsdbasdjaipdjaskd</p>
                <p>ashdbashdbahsbdhabsdhabsdbhdashdbahsdbasdjaipdjaskd</p>
                <p>ashdbashdbahsbdhabsdhabsdbhdashdbahsdbasdjaipdjaskd</p>
                <p>ashdbashdbahsbdhabsdhabsdbhdashdbahsdbasdjaipdjaskd</p>
                <p>ashdbashdbahsbdhabsdhabsdbhdashdbahsdbasdjaipdjaskd</p>
                <p>ashdbashdbahsbdhabsdhabsdbhdashdbahsdbasdjaipdjaskd</p>
            
                <div class="atividades">
                    <h2>Atividades e Posts</h2>
                    <ul>
                        {% for ap in atividades_posts %}
                            <li>{{ap}}</li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
    
        </section>
        
    </div>

    <!-- <a href="{% url 'registro:check' %}">check</a> -->

</body>
</html>