<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{curso.title}}</h1>
    <a href="{% url 'cursos:criar-modulo' curso.slug %}">teste formulario</a>
    
    <nav>
        <ul>
            <li><a href="{% url 'cursos:curso' curso.slug%}">Mural</a></li>
            <li><a href="{% url 'cursos:modulos' curso.slug %}">Módulos e atividades</a></li>
            <li><a href="{% url 'cursos:exibir-alunos' curso.slug %}">Alunos</a></li>
            {% if dono %}
                <li><a href="">Configurações</a></li>
            {% endif %}
        </ul>
    </nav>
        
    <div class="content-container">
    
        <h2>Mural</h2>
        <hr>
        <div class="mural-posts">
            <p>Teste</p>
            <hr>
            <p>Teste</p>
            <hr>
        </div>

    </div>



    <!-- <a href="{% url 'registro:check' %}">check</a> -->

</body>
</html>