<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>
</head>
<body>
    {% block content %}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
      </form>
    {% endblock %}
    <button><a href="">Redefinir</a></button>
    <br>
    <hr>
    <a href="{% url 'cursos:mudar-senha' %}">Quero mudar minha senha</a>
    <br>
    <a href="{% url 'cursos:excluir-conta' %}">Quero excluir minha conta</a>
</body>