{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genus</title>
    <link rel="stylesheet" href="{% static 'css/atividadestyle.css' %}">
</head>
<body>
    
    <header>
        <div class="out-container">
            <img src="{% static 'images/logo.svg' %}" alt="Genus Logo">
            <nav class="overlay">
                 <ul>
                    <li><a href="{% url 'cursos:mural' curso.slug%}">Mural</a></li>
                    <li><a href="{% url 'cursos:modulos' curso.slug %}">Módulos e atividades</a></li>
                    <li><a href="{% url 'cursos:exibir-alunos' curso.slug %}">Alunos</a></li>
                    {% if dono %}
                        <li><a href="{% url 'cursos:config_curso' curso.slug %}">Configurações</a></li>
                    {% endif %}
                </ul>
            </nav>
              
        </div>
    </header>
        
    <div class="content-box">
        <h1>{{curso.title}}</h1>
        <!-- Atividade -->
        <div class="atividade">
            <div class="card-atividade">
                <h2>{{atividade_post}}</h2>
                <hr>
                <div class="atividade-content">
                    <p>{{atividade_post.description}}</p>
                    <br>
                    {% for content in contents_modulo %}
                        <ul class="content-item">
                            <li><a href="">{{content.item.render}}</a></li>
                        </ul>
                        <hr>
                    {% endfor %}
                </div>
                    <div class="buttons-tablet">
                        <!--  div tablet render funciona apenas para small screen -->
                        <div class="tablet-render">
                                {% if dono %}
                                    <button><a href="{% url 'cursos:adicionar-arquivo' curso.slug modulo.id post.id %}">Adicionar arquivos</a></button>
                                    <br>
                                {% else %}
                                    <button><a href="{% url 'cursos:adicionar-arquivo' curso.slug modulo.id post.id %}">Submeter resposta</a></button>
                                {% endif %}
                        </div>
                    </div>
                    
            </div>
            <div class="card-buttons">
                <h2>Conteúdo:</h2>
                <br>
                {% if dono %}
                   <button><a href="{% url 'cursos:adicionar-arquivo' curso.slug modulo.id post.id %}">Adicionar arquivos</a></button>
                   <br>
                {% else %}
                    <button><a href="{% url 'cursos:adicionar-arquivo' curso.slug modulo.id post.id %}">Submeter resposta</a></button>
                {% endif %}
            </div>
        </div>
        <br>

        <!-- Comentários -->
        <div class="container-comentarios">
            <h1>Comentários:</h1>
            <div class="comentarios">
                <div>
    
                    {% if not post.comments.all %}
                         <h2>Sem Comentários</h2>
                            <div class="buttons-comentarios">
                                <button> <a href="{% url 'cursos:adicionar-comentario' curso.slug modulo.id post.id %}">Adicionar Comentário</a></button>
                             </div>
                    {% else %}
                        {% for comment in post.comments.all %}
                            <div class="infoUser">
                                <h2>{{ comment.author }}</h2> 
                                <p>{{ comment.created_date}}</p>
                            </div>
                            <div class="comment-text">
                                <p>{{ comment.text }}</p>
                                <hr>
                            </div>
                        {% endfor %}
                            <div class="buttons-comentarios">
                                <button><a href="{% url 'cursos:adicionar-comentario' curso.slug modulo.id post.id %}">Adicionar Comentário</a></button>
                            </div>      
                    {% endif %}
                
            </div>
    
        </div>
    </div>

    <!-- <a href="{% url 'registro:check' %}">check</a> -->

</body>
</html>