{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alunos</title>
  <link rel="stylesheet" href="{% static 'css/respostasAlunos.css' %}">
</head>
<body>
    <header>
        <div class="out-container">
            <a href="{% url 'cursos:inicio' %}" style="align-self: center;"><img src="{% static 'images/logo.svg' %}" alt="Genus Logo"></a>
            <nav class="overlay" >
                 <ul>
                    <li><a href="{% url 'cursos:curso' curso.slug%}">Mural</a></li>
                    <li><a href="{% url 'cursos:modulos' curso.slug %}">Módulos e atividades</a></li>
                    <li><a href="{% url 'cursos:exibir-alunos' curso.slug %}">Alunos</a></li>
                    {% if dono %}
                        <li><a href="{% url 'cursos:config_curso' curso.slug %}">Configurações</a></li>
                    {% endif %}
                </ul>
            </nav>
              
        </div>

    </header>

    <div class="content-box">
        <h1>Alunos</h1>
        <div class="alunos">
            <ul class="alunos-card">
                {% for aluno in alunos %}
                    <li><a href="{% url 'cursos:exibir-resp-aluno' curso.slug modulo.id post.id aluno%}">{{aluno}}</a> </li>
                {% endfor %}
            </ul>
            <br>
        </div>
        <div class="answer">
            {% if not resposta == None %}
                <div class="answer-card">
                    <div class="student-answer">
                        <h3>Resposta de {{aluno}}: </h3>
                        <br>
                        {% for content in resposta %}
                            <ul class="content-item">
                                <!-- <li><a href="#"><img src="https://i.pinimg.com/originals/6e/83/9c/6e839cefbb2d470d923efbc94fbfd4dc.jpg" alt="nada"></a></li> -->
                                <li><a href="">{{content.item.render}}</a></li>
                            </ul>
                        {% endfor %}
                        <br>
                    </div>
                    <div class="Nota">
                        <header>
                            <h3>Nota: </h3>
                            <p><strong>{{current_grade}}</strong></p> 
                        </header>
                        <section>
                            {% block content %}
                                <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" name="arquivo" value="arquivo">Atribuir nota</button>
                                </form>
                        
                            {% endblock %}
                            <br>
                        </section>
                    </div>
                </div>
            {% endif %}
    
        </div>
     
    </div>
    
  
</body>
</html>

