<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{curso.title}}</title>
</head>
<body>
    <h1>{{curso.title}}</h1>
    <p>Resumo: {{curso.overview}}</p>
    <p><strong>Dono do curso: {{curso.owner}}</strong></p>

    {% block content %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
        {% if form %}
            <button type="submit">Participar do curso.</button>
        {% else %}
            <a href="#">Ir para a página do curso</a>
        {% endif %}
    </form>
    {% endblock %}

    <!-- <a href="{% url 'registro:check' %}">check</a> -->

</body>
</html>