{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/resumoCurso.css' %}">
    <title>{{curso.title}}</title>
    <script src="https://kit.fontawesome.com/168c8af039.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'cursos:inicio' %}"><img src="{% static 'images/logo.svg' %}" alt="Genus Logo"></a>
            <ul>
                <a href="{% url 'cursos:perfil' %}">
                    <li> <i class="far fa-user-circle"></i>Perfil </li>
                </a>
                <a href="">
                    <li><i class="fas fa-cog"></i> Configurações</li>
                </a>
            </ul>
            <button class="exit-btn">SAIR</button>
            <div class="dropdown">
                <button class="dropbtn"><i class="fas fa-bars"></i></button>
                <div class="dropdown-content">
                    <a href="{% url 'cursos:perfil' %}"><i class="far fa-user-circle"></i>Perfil</a>
                    <a href="#"><i class="fas fa-cog"></i>Configurações</a>
                    <a href="#"><i class="fas fa-sign-out-alt"></i>Sair</a>
                </div>
            </div>

        </nav>
    </header>
        <div class="card">
            <div class="card-header">
                <h1>{{curso.title}}</h1>
            </div>
            <div class="card-content">
               <p>{{curso.overview}}</p>
            </div>
            <div class="card-footer">
                <p><strong>Dono do curso:</strong> {{curso.owner}}</p>
                {% block content %}
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                    {% if form %}
                        <button type="submit"><i class="fas fa-plus fa-md"></i><p style="font-size: medium;">Participar do curso.</p></button>
                    {% else %}
                        <button><i class="fas fa-md"></i><a href="{% url 'cursos:curso' curso.slug %}" style="font-size: medium;">Ir para página do curso.</a></button>
                    {% endif %}
                </form>
                {% endblock %}
                
            </div>
        </div>

    <!-- <a href="{% url 'registro:check' %}">check</a> -->

</body>
</html>